@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*:not(.material-icons) {
  font-family: "Inter", sans-serif;
  user-select: none !important;
}

:root {
  --bg: #fff;
  --fg: #333;
  --border-clr: #d1d1d1;
  --clr-red-bg: #ffc5c5;
  --clr-red-fg: #c50000;
  --clr-green-bg: #92ff8f;
  --clr-green-fg: #299126;
  --clr-yellow-bg: #ffecaa;
  --clr-yellow-fg: #a58b2f;
  --clr-orange-bg: #ffe1b5;
  --clr-orange-fg: #af7011;
  --clr-blue-bg: #8fd0ff;
  --clr-blue-fg: #1566a0;
  --clr-aqua-bg: #ddfff3;
  --clr-aqua-fg: #39a17d;
  --button-bg: #f1f1f1;
  --button-hover-bg: #e8e8e8;
  --button-active-bg: #e0e0e0;
  --zermelo-appointment-bg: var(--bg);
}

.clr-red,
.clr-red * {
  background-color: var(--clr-red-bg) !important;
  color: var(--clr-red-fg) !important;
}

.clr-green,
.clr-green * {
  background-color: var(--clr-green-bg) !important;
  color: var(--clr-green-fg) !important;
}

.clr-blue,
.clr-blue * {
  background-color: var(--clr-blue-bg) !important;
  color: var(--clr-blue-fg) !important;
}

.clr-orange,
.clr-orange * {
  background-color: var(--clr-orange-bg) !important;
  color: var(--clr-orange-fg) !important;
}

.clr-yellow,
.clr-yellow * {
  background-color: var(--clr-yellow-bg) !important;
  color: var(--clr-yellow-fg) !important;
}

.clr-aqua,
.clr-aqua * {
  background-color: var(--clr-aqua-bg) !important;
  color: var(--clr-aqua-fg) !important;
}
